#home-page {

  .card {
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 0.93;
    }
    .card-header {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

}